name: CI

on:
  push:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - run: ./build.ps1
      shell: pwsh
    - uses: ./
      with:
        milliseconds: 5000